<!DOCTYPE html>
<html>
<head>
	<title></title>
  <link rel="stylesheet" type="text/css" href="../assets/style/doced/css/style.css">
	<link rel="stylesheet" type="text/css" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  
</head>
<body>
	<header>
		<div class="min-wrapper">
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 padd-left-none">
				<a href="#"><img src="../assets/img/brand/doced-main-logo.png" class="main-logo"></a>
			</div>	<!-- End of col -->
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
				<div class="text-center">
					<span class="progress progress--counter">
					  <span class="progress__step progress__step--active"></span>
					  <span class="progress__step progress__step--active"></span>
					  <span class="progress__step "></span>
				  </span>	<!-- End of progress -->
				</div>	
			</div>	<!-- End of col -->
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 padd-right-none">
				<div class="pull-right header-right-section">
					<span>Aleardy a member?</span>
					<button class="btn ghost-btn-orange">Login</button>
				</div>	<!-- End of header-right-section -->
			</div>	<!-- End of col -->
		</div>	<!-- End of min-wrapper -->
	</header>	 <!-- End of header -->

	<div class="signup-cols-wrapper clearfix">
		<div class="col-lg-4 col-md-4 col-sm-4 hidden-xs padd-h-none">
			<div class="signup-left-section">
				<img src="../assets/img/signup/signup-left/signup-left-img.png" class="signup-left-section-img">
			</div>	<!-- End of signup-left-section -->
		</div>	<!-- End of col -->

		<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 padd-h-none">
			<div class="signup-right-section">
				<div class="fixed-wrapper">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padd-h-none">
						<div class="signup-heading-section clearfix">
							<h1 class="margin-v-none">Create New Account</h1>
							<h4 class="margin-top-none">Education details</h4>
						</div>	<!-- End of signup-heading-section -->
					</div>	<!-- End of col -->

					<div class="signup-work-info-col-wrapper clearfix">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padd-h-none">
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padd-left-none">
								<div class="signup-work-info-wrapper">
									<h5 class="margin-top-none">MDS</h5>
									<p class="margin-v-none signup-work-speci">Oral Surgery</p>
								</div>	<!-- End of signup-work-info-wrapper -->
							</div>	<!-- End of col -->

							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padd-right-none">
								<div class="pull-right signup-work-duration-section">
									<i class="ion-ios-time-outline"></i>
									<span class="signup-work-date-to-from">Jun 2012 to May 2018</span>
									<i class="ion-ios-arrow-down"></i>
								</div>	<!-- End of signup-work-duration-section -->
							</div>	<!-- End of col -->
						</div>	<!-- End of col -->
					</div>	<!-- End of signup-work-info-col-wrapper -->

					<div class="signup-right-delete-section relative">
						<img src="../assets/img/signup/delete-icons/delete-icon.png">
					</div>	<!-- End of signup-right-delete-section -->

					<form class="signup-form-wrapper">
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padd-left-none">
							<div class="signup-input-wrap">
								<label>Degree Name</label>
								<input type="text" name="degree_name" placeholder="MDS">
							</div>	<!-- End of signup-input-wrap -->
						</div>	<!-- End of col -->

						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padd-right-none">
							<div class="signup-input-wrap">
								<label>Specialization</label>
								<input type="text" name="specialization" placeholder="Oral Surgery">
							</div>	<!-- End of signup-input-wrap -->
						</div>	<!-- End of col -->

						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padd-left-none">
							<div class="signup-input-wrap">
								<label>College Name</label>
								<input type="text" name="college_name" placeholder="SDM college">
							</div>	<!-- End of signup-input-wrap -->
						</div>	<!-- End of col -->

						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padd-right-none">
							<div class="signup-input-wrap">
								<label>Passing year</label>
								<div class="btn date-picker-icon" id="imgDatepicker" ><img  src="../assets/img/signup/calendar-icon/calendar-icon.png"></div>
								<input id="datepicker" type="text" class="signup-datepicker-input" placeholder="28/ 01/ 2018">
							</div>	<!-- End of signup-input-wrap -->
						</div>	<!-- End of col -->
						<div class="clearfix"></div>
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padd-h-none">
							<div class="signup-input-wrap">
								<label>Enter Brief Description(optional)</label>
								<span class="pull-right">0/100 words</span>
								<textarea name="brief_descrip" placeholder="Practical demonstration and the participants are trained to do preparations on typodonts."></textarea>
							</div>	<!-- End of signup-input-wrap -->
						</div>	<!-- End of col -->
					</form>	 <!-- End of form -->
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padd-left-none">
						<div class="signup-add-education-section">
							<p><img src="../assets/img/signup/add-icons/add-icon.png"><span>Add Education</span></p>
						</div>	<!-- End of signup-add-education-section -->
					</div>	<!-- End of col -->
				</div>	<!-- End of wrapper -->
			
			</div>	<!-- End of signup-right-section -->
		</div>	<!-- End of col -->
	</div>	<!-- End of signup-cols-wrapper -->

	<div class="signup-sticky-bottom">
		<div class="wrapper">
			<div class="signup-bottom-btn-wrapper clearfix">
				<button class="btn signup-previous-btn"><i class="ion-ios-arrow-left"></i><span>Previous</span></button>
				<button class="btn btn-primary pull-right" data-toggle="modal" data-target="#signup-verify-otp-modal">Next</button>
			</div>	<!-- End of signup-bottom-btn-wrapper -->
		</div>	<!-- End of wrapper -->
	</div>	<!-- End of signup-sticky-bottom -->

	<!-- js for datepicker start -->
	<script>
	  $( function() {
	    $( "#datepicker" ).datepicker();
	    $('#imgDatepicker').click(function(){
	    		 $( "#datepicker" ).datepicker('show');
	    });
	  });
  </script>
  <!-- js for datepicker end -->
</body>
</html>