<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
	<link rel="stylesheet" type="text/css" href="../assets/style/doced/css/style.css">
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>
	<header>
		<div class="min-wrapper">
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 padd-left-none">
				<a href="#"><img src="../assets/img/brand/doced-main-logo.png" class="main-logo"></a>
			</div>	<!-- End of col -->
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
				<div class="text-center">
					<span class="progress progress--counter">
					  <span class="progress__step progress__step--active"></span>
					  <span class="progress__step progress__step--active"></span>
					  <span class="progress__step progress__step--active"></span>
				  </span>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 padd-right-none">
				<div class="pull-right header-right-section">
					<span>Aleardy a member?</span>
					<button class="btn ghost-btn-orange">Login</button>
				</div>
			</div>
		</div>	<!-- End of min-wrapper -->
	</header>	 <!-- End of header -->

	<div class="signup-cols-wrapper clearfix">
		<div class="col-lg-4 col-md-4 col-sm-4 hidden-xs padd-h-none">
			<div class="signup-left-section">
				<img src="../assets/img/signup/signup-left/signup-left-img.png" class="signup-left-section-img">
			</div>	<!-- End of signup-left-section -->
		</div>	<!-- End of col -->

		<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 padd-h-none">
			<div class="signup-right-section">
				<div class="fixed-wrapper">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padd-h-none">
						<div class="signup-heading-section">
							<h1 class="margin-v-none">Create New Account</h1>
							<h4 class="margin-top-none">Experience details</h4>
						</div>
					</div>

					<div class="signup-work-info-col-wrapper clearfix">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padd-h-none">
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padd-left-none">
								<div class="signup-work-info-wrapper">
									<h5 class="margin-top-none">MDS</h5>
									<p class="margin-v-none signup-work-speci">Oral Surgery</p>
								</div>
							</div>	<!-- End of col -->
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padd-right-none">
								<div class="pull-right signup-work-duration-section">
									<i class="ion-ios-time-outline"></i>
									<span class="signup-work-date-to-from">Jun 2012 to May 2018</span>
									<i class="ion-ios-arrow-down"></i>
								</div>
							</div>
						</div>	<!-- End of col -->
					</div>	<!-- End of signup-work-info-col-wrapper -->

					<div class="signup-work-info-col-wrapper clearfix">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padd-h-none">
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padd-left-none">
								<div class="signup-work-info-wrapper">
									<h5 class="margin-top-none">ABC Hospital, Gujarat</h5>
									<p class="margin-v-none signup-work-speci">ABC Specialization</p>
								</div>
							</div>	<!-- End of col -->
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padd-right-none">
								<div class="pull-right signup-work-duration-section">
									<i class="ion-ios-time-outline"></i>
									<span class="signup-work-date-to-from">Jun 2012 to May 2018</span>
									<i class="ion-ios-arrow-down"></i>
									<p class="signup-work-delete margin-v-none">Delete Experience</p>
								</div>
							</div>
						</div>	<!-- End of col -->
					</div>	<!-- End of signup-work-info-col-wrapper -->

					<div class="signup-right-delete-section relative">
						<img src="../assets/img/signup/delete-icons/delete-icon.png">
					</div>

					<div class="clearfix"></div>

					<form class="signup-form-wrapper">
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padd-left-none">
							<div class="signup-input-wrap">
								<label>Designation</label>
								<input type="text" name="designation" placeholder="Cosmetic & Aesthetic Dentist, Implant">
							</div>	<!-- End of signup-input-wrap -->
						</div>	<!-- End of col -->

						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padd-right-none">
							<div class="signup-input-wrap">
								<label>Company Name</label>
								<input type="text" name="company_name" placeholder="Patil Clininc">
							</div>	<!-- End of signup-input-wrap -->
						</div>	<!-- End of col -->

						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padd-left-none">
							<div class="signup-input-wrap">
								<label>From</label>
								<div class="btn date-picker-icon" id="imgDatepicker" ><img  src="../assets/img/signup/calendar-icon/calendar-icon.png"></div>
								<input id="datepicker" type="text" class="signup-datepicker-input" placeholder="28/ 01/ 2018">
							</div>	<!-- End of signup-input-wrap -->
						</div>	<!-- End of col -->

						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padd-right-none">
							<div class="signup-input-wrap padd-bottom-none">
								<label>To</label>
								<div class="btn date-picker-icon" id="imgtoDatepicker" ><img  src="../assets/img/signup/calendar-icon/calendar-icon.png"></div>
								<input id="to_datepicker" type="text" class="signup-datepicker-input" placeholder="28/ 01/ 2018">
							</div>	<!-- End of signup-input-wrap -->
							<div class="signup-checkbox-wrap">
								<label class="checkbox-container">I currently work here
								  <input type="checkbox">
								  <span class="checkbox-checkmark"></span>
								</label>
							</div>
						</div>	<!-- End of col -->
						<div class="clearfix"></div>
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padd-h-none">
							<div class="signup-input-wrap">
								<label>Enter Brief Description(optional)</label>
								<span class="pull-right">0/100 words</span>
								<textarea name="brief_descrip" placeholder="Practical demonstration and the participants are trained to do preparations on typodonts."></textarea>
							</div>	<!-- End of signup-input-wrap -->
						</div>	<!-- End of col -->
					</form>	 <!-- End of form -->
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padd-left-none">
						<div class="signup-add-education-section">
							<p><img src="../assets/img/signup/add-icons/add-icon.png"><span>Add Education</span></p>
						</div>
					</div>
				</div>	<!-- End of wrapper -->

				
			</div>	<!-- End of signup-right-section -->
		</div>	<!-- End of col -->
	</div>	<!-- End of signup-cols-wrapper -->

	<div class="signup-sticky-bottom">
		<div class="wrapper">
			<div class="signup-bottom-btn-wrapper clearfix">
				<button class="btn signup-previous-btn"><i class="ion-ios-arrow-left"></i><span>Previous</span></button>
				<button class="btn btn-primary pull-right" data-toggle="modal" data-target="#signup-verify-otp-modal">Next</button>
			</div>
		</div>
	</div>

	<!-- js for datepicker start -->
	<script>
	  $( function() {
	    $( "#datepicker" ).datepicker();
	    $('#imgDatepicker').click(function(){
	    		 $( "#datepicker" ).datepicker('show');
	    });
	  });
	  $( function() {
	    $( "#to_datepicker" ).datepicker();
	    $('#imgtoDatepicker').click(function(){
	    		 $( "#to_datepicker" ).datepicker('show');
	    });
	  });
  </script>
  <!-- js for datepicker end -->
</body>
</html>