<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/assets/style/doced/css/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="/assets/js/vendor/modal.js"></script>
	<link rel="stylesheet" type="text/css" href="../assets/Easy-jQuery-International-Telephone-Input-Plugin-IntlInputPhone/css/intlInputPhone.min.css">

</head>
<body>
	<header>
		<div class="min-wrapper">
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 padd-left-none">
				<a href="#"><img src="../assets/img/brand/doced-main-logo.png" class="main-logo"></a>
			</div>	<!-- End of col -->
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
				<div class="text-center">
					<span class="progress progress--counter">
					  <span class="progress__step progress__step--active currnet_progress_step"></span>
					  <span class="progress__step"></span>
					  <span class="progress__step "></span>
				  </span>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 padd-right-none">
				<div class="pull-right header-right-section">
					<span>Aleardy a member?</span>
					<button class="btn ghost-btn-orange">Login</button>
				</div>
			</div>
		</div>	<!-- End of min-wrapper -->
	</header>	 <!-- End of header -->

	<div class="signup-cols-wrapper clearfix">
		<div class="col-lg-4 col-md-4 col-sm-4 hidden-xs padd-h-none">
			<div class="signup-left-section">
				<img src="../assets/img/signup/signup-left/signup-left-img.png" class="signup-left-section-img">
			</div>	<!-- End of signup-left-section -->
		</div>	<!-- End of col -->

		<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 padd-h-none">
			<div class="signup-right-section">
				<div class="fixed-wrapper">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padd-h-none">
						<div class="signup-heading-section clearfix">
							<h1 class="margin-v-none">Create New Account</h1>
							<h4 class="margin-top-none">General details</h4>
						</div>
					</div>	<!-- End of col -->
					<form>
						<div class="col-lg-12- col-md-12 col-sm-12 col-xs-12 padd-h-none">
							<div class="signup-user-profile-wrapper">
								<img src="../assets/img/default-user-pic/default-user-pic@2x.png" class="signup-profile-pic">
								<span class="signup-remove-pic">Remove</span>
								<div class="inline-block signup-upload-right-sec">
									<input type="file" name="file" id="img-file" class="signup-upload-input">
									<label for="img-file">Profile Photo</label>
									<p class="signup-browse-wrap margin-v-none"><a href="#"><img src="../assets/img/signup/attach-icons/icons-8-attach.png"><span>Browse</span></a></p>
								</div>	<!-- End of signup-upload-right-sec -->
							</div>	<!-- End of signup-user-profile-wrapper -->
						</div>	<!-- End of col -->

						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padd-left-none u-padd-col-right">
							<div class="signup-input-wrap relative">
								<label>Full Name*</label>
								<input type="text" name="full_name" placeholder="Madhuri Desai">
								<span class="input-error-text">Please Enter Full Name</span>
							</div>	<!-- End of signup-input-wrap -->
						</div>	<!-- End of col -->

						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padd-right-none u-padd-col-left">
							<div class="signup-input-wrap relative">
								<label>Registration Number*</label>
								<input type="text" name="reg_number" placeholder="1224545562">
								<span class="input-error-text">Please Enter Registration Number</span>
							</div>	<!-- End of signup-input-wrap -->
						</div>	<!-- End of col -->

						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padd-left-none">
							<div class="signup-input-wrap relative">
								<label>Email ID*</label>
								<input type="email" name="email_id" placeholder="rajendra@gmail.com">
								<span class="input-error-text">Please Enter Email Address</span>
							</div>	<!-- End of signup-input-wrap -->
						</div>	<!-- End of col -->

						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padd-right-none">
							<div class="signup-input-wrap relative">
								<label>Password*</label>
								<input type="password" name="password" placeholder="******">
								<span class="input-error-text">Please Enter Password</span>
							</div>	<!-- End of signup-input-wrap -->
						</div>	<!-- End of col -->

						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padd-left-none">
							<div class="signup-input-wrap relative">
								<label>Phone Number*</label>
								<span class="signup-country-code">+91</span>
								<input type="text" placeholder="9876543210" class="signup-phone-input">
								<span class="input-error-text">Please Enter Mobile Number</span>
							</div>	<!-- End of signup-input-wrap -->
						</div>	<!-- End of col -->

						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padd-right-none">
							<div class="signup-input-wrap relative">
								<label>Current Location*</label>
								<input type="text" name="current_location" placeholder="Pune">
								<span class="input-error-text">Please Enter Current Location</span>
							</div>	<!-- End of signup-input-wrap -->
						</div>	<!-- End of col -->

						<div class="clearfix"></div>
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padd-h-none">
							<div class="signup-input-wrap relative">
								<label>Enter Brief Description</label>
								<span class="pull-right">0/100 words</span>
								<textarea name="brief_descrip" placeholder="Practical demonstration and the participants are trained to do preparations on typodonts."></textarea>
							</div>	<!-- End of signup-input-wrap -->
						</div>	<!-- End of col -->
					</form>	 <!-- End of form -->
				</div>	<!-- End of wrapper -->

				
			</div>	<!-- End of signup-right-section -->
		</div>	<!-- End of col -->
	</div>	<!-- End of signup-cols-wrapper -->
	<div class="signup-sticky-bottom">
		<div class="wrapper">
			<div class="signup-bottom-btn-wrapper clearfix">
				<button class="btn btn-primary pull-right" data-toggle="modal" data-target="#signup-verify-otp-modal">Next</button>
			</div>
		</div>
	</div>

	<div id="signup-verify-otp-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <button class="btn pull-right" data-dismiss="modal"><img src="../assets/img/signup/close-icon/close-icon.png"></button>
        <div class="signup-otp-content-wrapper text-center">
        	<img src="../assets/img/signup/cell-phone-icons/cell-phone-icon.png">
        	<h3>Verify Your Mobile Number</h3>
        	<p class="margin-top-none">One Time Password (OTP) Is sent to +91-9876543210</p>
        	<div class="signup-modal-inp-wrapper clearfix">
	        	<form>
	        		<div class="signup-modal-otp-wrapper show-field-error">
		        		<label>Enter OTP</label>
		        		<input type="text" name="signup_otp" placeholder="12345">
		        		<span class="otp-error-text">Please Enter the OTP</span>
		        	</div>
	        	</form>
	        	<span class="pull-left signup-otp-resend-time">00:59</span>
	        	<button class="btn pull-right btn-resend-otp padd-h-none"><img src="../assets/img/signup/resend-icon/resend-icon.png" class="signup-modal-resend-icon">Resend OTP</button>
	        </div>
        	<button class="btn btn-primary">Verify</button>
        </div>
      </div>	<!-- End of modal-content -->
    </div>	<!-- End of modal-dialog -->		
  </div> <!-- End of share event modal -->

  <script src="http://code.jquery.com/jquery.min.js"></script>
  <script src="../assets/Easy-jQuery-International-Telephone-Input-Plugin-IntlInputPhone/js/intlInputPhone.min.js"></script>

  <script type="text/javascript">
  	$(document).ready(function(){
  		$('.input-phone').intlInputPhone();
  	});
  </script>
</body>
</html>